.front {
  .node-page .field-name-body {

    text-align: center;
    padding: 0 5%;
    margin: 1em 0 0 0;
    @include media($medium-screen) {
      margin: 3em 0 0 0;
    }
    // @include media($large-screen) {
    //   margin: 6em 0 0 0;
    // }
    h2 {
      line-height: 1;
      margin-bottom: 0.25em;
    }

    p {
      font-size: em(28);
      color: $medium-gray;
      max-width: none;
    }
  }
}
