.page-search-node #block-system-main,
.page-search #block-system-main {
  .content {
    padding-bottom: 30px;
    padding-top: 30px;
    min-height: 450px;

    h2 {
      color: $base-font-color;
    }
  }
}


#search-api-page-search-form {
  margin: 30px 0;
}