// More link with borders.
%more-link-border {
  text-transform: uppercase;
  color: $lightest-gray;
  padding: 0.5em 0.75em;
  border: 1px solid $lightest-gray;
  font-weight: 300;
  font-size: em(12);

  &:hover {
    color: white;
    border-color: white;
  }
}

.node,
.views-row .views-field-body {
  ul {
    margin: 1em 0;

    li {
      list-style: disc;
      margin-left: 1em;

      ul,
      ol {
        margin: 0.5em 0;
      }

      li {
        list-style: circle;
        margin-left: 0.5em;

        li {
          list-style: square;
        }
      }
    }
  }

  ol {
    margin: 1em 0;

    li {
      list-style: decimal;
      margin-left: 1em;

      ul,
      ol {
        margin: 0.5em 0;
      }

      li {
        list-style: lower-alpha;
        margin-left: 0.5em;
      }
    }
  }
}

.field-collection-container,
.field-collection-view {
  margin: 0;
  padding: 0;
  border: none;
}



@import "entity.page";
@import "entity.rotato";
@import "entity.news";
@import "entity.showcase";
@import "entity.press";
@import "entity.testimonial";
@import "entity.video";
@import "entity.blog";
@import "entity.faq";
@import "entity.product";
@import "entity.dealer";
@import "entity.product_hub";