.node-cb-rotato {
  background: $primary-accent-color;
  position: relative;
  .text-wrapper {
    width: 100%;
    padding: 0 5%;
    color: white;
    z-index: 2;
    h2 {
      line-height: 1;
      font-weight: 300;
      font-size: em(20);
      margin-bottom: 0.25em;
      color: white;
      @include media($small-screen) {
        font-size: em(40);
      }
      @include media($large-screen) {
        font-size: em(60);
        margin-bottom: 0.45em;
      }
    }

    .field-name-body {
      font-size: em(14);
      @include media($small-screen) {
        font-size: em(16);
      }
      @include media($large-screen) {
        font-size: em(24);
      }
    }
    .more-link {
      @extend %more-link-border;
    }
  }
  .field-name-field-rotato-square {
    width: 100%;
    float: none;
    @media (min-width:667px) and (max-width:768px) {
      width: 50%;
    }
  }

  .field-type-image {
    width: 100%;
    float: none;
    @include media($medium-screen) {
      width: 66%;
      float: right;
    }

    &.field-name-field-rotato-transparent {
      @include media($medium-screen) {
        width: 100%;
        float: none;
      }
    }
  }

  &.moment_transparent {

    & .text-wrapper {
      background: rgba(0, 0, 0, 0.6);

      & h2 {
        text-transform: uppercase;
      }
    }
  }
  .views-row-odd  .moment_transparent {
    & .text-wrapper {
      right: 110px;
      left: auto;
    }
  }
  .views-row-even .moment_transparent {
    & .text-wrapper {
      right: auto;
      left: 90px;
    }
  }

  // Color choices
  &.font-dark {
    h2, p {
      color: $dark-gray;
    }
  }
  &.bg-dark {
    @include media($large-screen) {
      background: $dark-gray;
    }
    .next-moment,.next-moment:hover{
      color:#FFF !important;
    }
  }

  &.bg-light {
    background: $lightest-gray;
    .more-link {
      border-color: $medium-gray;
      color: $medium-gray;
      &:hover {
        border-color: $darker-gray;
        color: $darker-gray;
      }
    }
  }
}

#block-views-rotatos-block-home-hero {
  background: $primary-accent-color;
}
#block-views-rotatos-block-home-hero {
  .text-wrapper {
    @media screen and (min-width:420px) and (max-width:767px) {
      background: rgba(0,0,0,0.5) !important;
      h2,p{
        color:#fff !important;
      }
    }
  }
}

//Home hero
#block-views-rotatos-block-home-hero {
  .text-wrapper {
    width: 100%;
    padding: 5%;
    @include media($small-screen) {
      @include transform(translateY(-50%));
      position: absolute;
      top: 50%;
      left: 0;
    }
    @include media($slider-small) {
      width: 50%;
    }
    @include media($large-screen) {
      width: 50%;
      text-align: center;
      padding: 0 5%;
      background: none;
    }
    .next-moment{
      display:none;
    }
    h2 {
      margin-bottom: 0.25em;
      @include media($small-screen) {
        font-size: em(30);
        margin-bottom: 0.45em;
      }
      @include media($slider-small) {
        font-size: em(40)
      }
      @include media($large-screen) {
        font-size: em(60);
        margin-bottom: 0.75em;
      }
    }
  }
  .font-dark {
    h2, p {
      color: $dark-gray;
    }
  }

  .field-type-image {
    width: 100%;
    float: none;
  }
  .field-name-field-rotato-square {
    @include media($medium-screen) {
      width: 50%;
      float: right;
    }
  }
  .field-name-field-rotato-transparent {
    @include media($medium-screen) {
      width: 100%;
      float: none;
    }
  }

  & .hero_full_short {
    & .text-wrapper {
      // width: 100%;
      background: transparent;
      @include media($small-screen) {
        width: 80%;
        font-size: x-small;
        top: 50px;
        @include transform(translateY(0));
        text-align: left;
      }
      @include media($slider-small) {
        font-size: inherit;
        width: 70%;
      }
      @include media($medium-screen) {
        font-size: inherit;
        width: 70%;
        top: 50%;
        @include transform(translateY(-50%));
      }
      @include media($large-screen) {
        font-size: inherit;
        width: 70%;
      }

      //& h2 {
      //  text-transform: uppercase;
      //}
    }
  }
}

// Moments Static

.parallax-mirror {
  display: none;
}

.moments-static {
  margin-bottom: 3em;
}

.moments-static .next-moment {
  /* Hide the "Next" link for small devices */
  display: none;
}

.moments-static .text-wrapper {
  width: 100%;
  float: none;
  text-align: center;
  padding: 5%;
}

.moments-static .text-wrapper:before {
  /* Hide icon above title for small devices */
  display: none;
}

.moments-static .field-type-image {
  width: 100%;
  float: none;
}

.moments-static .text-wrapper h2 {
  font-size: 1.7em;
}

// Override `.moment_transparent` moments.
.moments-static .moment_transparent {
  visibility: inherit;
  & .text-wrapper {
    padding: 50px;
    &:before {
      display: none;
    }

    & h2 {}
  }
  & .field-type-image {
    visibility: inherit;
  }
}

@media screen and (min-width: 768px) {

  .moments-static .text-wrapper {
    width: 60%;
    padding: 2%;
    float: left;
    text-align: left;
  }

  .moments-static .field-type-image{
    float: left;
    width: 40%;
  }
  .moments-static .views-row-odd .text-wrapper {
    float: left;
  }
  .moments-static .views-row-even .text-wrapper {
    float: right;
  }

  .moments-static .text-wrapper h2 {
    font-size: 1.375em;
  }

  .moments-static .moment_transparent {
    visibility: inherit;
    & .text-wrapper {
      position: absolute;
      left: auto;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      max-width: 420px;
      &:before {}

      & h2 {
        text-align: left;
      }

      & .field-name-body {
        text-align: left;
      }

    }
    & .field-type-image {
      float: none;
      width: 100%;
    }
  }
  .moments-static .views-row-odd .moment_transparent {
    & .text-wrapper {
      right: 110px;
      left: auto;
    }
  }
  .moments-static .views-row-even .moment_transparent {
    & .text-wrapper {
      right: auto;
      left: 90px;
    }
  }
}
@media screen and (min-width: 900px) {
  .moments-static .field-type-image {
    width: 50%;
  }
  .moments-static .text-wrapper {
    padding: 3%;
    width: 50%;
  }
  .moments-static .text-wrapper .field-name-body {
    font-size: 1em;
  }

  .moments-static .moment_transparent {
    visibility: inherit;
    & .text-wrapper {
      visibility: inherit;
      &:before {}

      & h2 {}
    }
    & .field-type-image {
      width: 100%;
    }
  }
  .moments-static .views-row-odd .moment_transparent {
    & .text-wrapper {
      right: 110px;
      left: auto;
    }
  }
  .moments-static .views-row-even .moment_transparent {
    & .text-wrapper {
      right: auto;
      left: 90px;
    }
  }
}
@media screen and (min-width: 1175px) {
  .moments-static .views-row {
    margin-bottom: 0.5em;
  }
  .moments-static .text-wrapper {
    width: 34%;
  }
  .moments-static .field-type-image{
    width: 66%;
  }
  .moments-static .text-wrapper .field-name-body {
    font-size: 1.25em;
    text-align:center;
  }

  .moments-static .moment_transparent {
    visibility: inherit;
    & .text-wrapper {
      visibility: inherit;
      &:before {}

      & h2 {}
    }
    & .field-type-image {
      width: 100%;
    }
  }
  .moments-static .views-row-odd .moment_transparent {
    & .text-wrapper {
      right: 110px;
      left: auto;
    }
  }
  .moments-static .views-row-even .moment_transparent {
    & .text-wrapper {
      right: auto;
      left: 90px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .moments-static .text-wrapper h2 {
    font-size: 2.8125em;
  }
}

@media screen and (min-width: 1460px) {
  .moments-static .text-wrapper {
    padding: 5%;
  }
  .moments-static .text-wrapper .field-name-body {
    font-size: 1.5em;

  }
  .moments-static .text-wrapper h2 {
    font-size: 3.75em;
  }
}

@media only screen and (min-width: 1025px) and (min-height: 581px) {
  .moments-static .views-row {
    margin-bottom: 0;
  }
  .moments-static{
    .view-mode-full{
      position: relative;
      height: 100vh;
    }
    .view-mode-full > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .view-mode-full {
      .next-moment {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        color: #7e7e7e;
        text-transform: uppercase;
        text-align: center;
        font-size: 1em;
        line-height: 1;
        &:focus,&:hover{
          color: #474747;
        }
        &::after {
          content: '\25BE';
          display: block;
          line-height: 1;
        }
      }
    }
    .field-type-image{
      width: 67%;
      background-color: transparent !important;
      display: block;
      position: relative;
      z-index: 1;

      &.field-name-field-rotato-transparent {
        width: 100%;
      }
    }
    .text-wrapper {
      /* Valgin content */
      position: absolute;
      left: auto;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 33%;
      h2 {
        font-size: 2.5em;
        text-align: center;
      }
      p {
        font-size: .75em;
      }
      &::before {
        /* Icon above title */
        content: '';
        display: block;
        margin: 0 auto;
        margin-bottom: 1em;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 0;
      }
    }
    .views-row-odd .text-wrapper,
    .views-row-even .text-wrapper {
      float: right;
    }
    .field-type-image,
    .field-type-image .field-items,
    .field-type-image .field-item {
      height: 100%;
    }
    .field-type-image img {
      display: none;
    }
  }
  .moments-static .text-wrapper p,
  .moments-static .text-wrapper .more-link {
    opacity: 0;
    -webkit-transition-duration: .5s;
    -webkit-transition-property: opacity;
    transition-duration: .5s;
    transition-property: opacity;
  }
  .moments-static .text-wrapper:before {
    /* Icon above title */
    -webkit-transform: scale(0);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: .3s;
    -webkit-transition-delay: .25s;
    -webkit-transition-timing-function: cubic-bezier(.29, 1.84, 1, .93);
    transform: scale(0);
    transform-origin: 50% 50%;
    transition-duration: .3s;
    transition-delay: .25s;
    transition-timing-function: cubic-bezier(.29, 1.84, 1, .93);
  }

  .moments-static .section--activated .text-wrapper:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .moments-static .section--activated .text-wrapper p,
  .moments-static .section--activated .text-wrapper .more-link {
    opacity: 1;

    a:hover {
      color:#ffffff;
      border: none;
      background-color: $primary-accent-color;
    }
  }

  .moments-static .section--activated .text-wrapper p {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
  }

  .moments-static .section--activated .text-wrapper .more-link {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
  }

  .parallax-mirror {
    display: block;
  }
}

@media only screen and (min-width: 1025px) and (min-height: 681px) {
  .moments-static .text-wrapper h2 {
    font-size: 3em !important;
  }
  .moments-static .text-wrapper p {
    font-size: .875em !important;
  }
  .moments-static .field-type-image .next-moment {
    bottom: 0;
  }
}

// Slick slider overrides.
.slick-slide {
  img {
    width: 100%;
  }
}

.slick-slide:focus {
  outline: none;
}

.with-arrows .slick-slide {
  padding: 0 75px;
}

.slick-dots {
  top: 2em;

  @media (max-width: 420px){
    bottom: 11em;
    top: auto;
    width: auto;
  }
  @include media($small-screen) {
    top: auto;
    bottom: 2em;
  }
  right: 5%;
  width: 300px;
  text-align: right;

  li {
    width: auto;
    height: auto;

    button {
      background: #ebeaea;
      border-radius: 50%;
      width: 18px;
      height: 18px;

      &:before {
        content: "";
      }
    }
  }

  li.slick-active {
    border-radius: 50%;
    padding: 2px;

    button {
      background: $medium-gray;
    }
  }
}

.slick-prev,
.slick-next {
  height: 45px;
  width: 45px;
  @include media($medium-screen) {
    height: 50px;
    width: 50px;
    margin-right:2%;
    margin-left:2%;
  }
  @include media($large-screen) {
    height: 60px;
    width: 60px;
  }
  margin-top: -30px;
  z-index: 4;
  color: $light-gray;
  margin-left: 0;
  margin-right: 0;
  &:before {
    font-family: "core-brands";
    font-size: 35px;
    text-transform: none;
    font-weight: 300;
    color: #d1d1d1 !important;
    @include media($medium-screen) {
      font-size: 50px;
    }
    @include media($large-screen) {
      font-size: 60px;
    }
    opacity: 1;
    color: inherit;
    //border: 1px solid;
    //border-radius: 50px;
    padding: 0;
  }

  &:hover, &:hover:before{
    color: $primary-accent-color !important;
  }
}

.slick-prev {
  left: 0;

  &:before {
    content: "n";
  }
}

.slick-next {
  right: 0;

  &:before {
    content: "m";
  }
}

.slick-dots li.slick-active {
  border:none;
}
