#header{
	#logo{
      padding-top: 0;
      padding-left: 0;
      width: 100%;
      margin-top: 9px;
      max-width: 75px;
      height: auto;
      @include media($menu-medium) {
        max-width: 105px;
        margin-top: 10px;
      }
      @include media($large-screen) {
        margin-left: 25px;
        margin-top: 18px;
        max-width: 194px;
      }

			a {
				display: inline-block;
				max-width: 142px;
			}
	}
}
